.upload-container {
    margin-left: 1em;

    .upload-input {
        display: none;
    }

    .btn-upload:hover {
        cursor: pointer;
    }

    .datacard-name {
        color: #aaaaaa;
    }
}
