@import '../../../node_modules/angular-material/angular-material.scss';

root {
    .menu {
        list-style: none;
        padding: 0;
        max-width: 100%;
        overflow-x: hidden;

        .md-button {
            width: 100%;   
            margin: 0;
            text-align: left;
        }

        li {
            margin: 0;
        }
    }
}