<md-sidenav class="md-sidenav-left" md-component-id="left">
    <header layout="row" layout-align="center start">
        <h3>Adapt Analyzer</h3>
    </header>
    <md-content flex role="navigation" >
        <ul class="menu">
            <li>
                <md-button ng-click="$ctrl.navigate('welcome')">
                    Welcome
                </md-button>
            </li>
            <li>
                <md-button ng-click="$ctrl.navigate('downloads')">
                    Downloads
                </md-button>
            </li>
        </ul>
    </md-content>
</md-sidenav>

<div layout="column" role="main" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button class="toggle-sidenav md-icon-button" ng-click="$ctrl.toggleSidenav()">
                <md-icon>menu</md-icon>
            </md-button>

            <upload></upload>
        </div>
    </md-toolbar>

    <md-content layout="column" flex md-scroll-y>
        <div layout="column" layout-padding flex="noshrink" ui-view>
        </div>
    </md-content>
</div>