<div layout="column" flex layout-fill>
    <plugins></plugins>

    <md-tabs layout="column" flex layout-fill md-border-bottom>
        <md-tab label="Maps">
            <md-tab-content>
                <datacard-maps></datacard-maps>
            </md-tab-content>
        </md-tab>
        <md-tab label="Metadata">
            <md-tab-content >
                <datacard-metadata></datacard-metadata>
            </md-tab-content>
        </md-tab>
        <md-tab label="Totals">
            <md-tab-content>
                <datacard-totals></datacard-totals>
            </md-tab-content>
        </md-tab>
    </md-tabs>
</div>